body{ 
	background:#fff; 
	font-size:13px; 
	font-family:Arial, Helvetica, sans-serif;
	
}
ul{ 
	list-style:none; 
	margin:0; 
	padding:0;
}
a, a:hover, a:focus{
	text-decoration:none;
	outline:none;
}
.transition{
	webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

input:-webkit-autofill {
   background-color: white !important;
}
input:-webkit-autofill, input:focus:-webkit-autofill, input:hover:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.form-control, .btn { border-radius:0px;}
.btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
}
.header-section{
  background:#f1f1f1;
  border-bottom:1px solid #ddd;	
}

.logo{ 

	width:auto;
}
.logo h1{
	 margin-bottom:20px; 
	 color:#333;
	 font-size:25px;
	 margin:15px 0px;
}
.panel-heading, .panel-default{ border-radius:0px;}
.panel-heading h4{ margin:0px;}
.header-section .nav{ float:inherit; margin-top:19px;}
.header-section .nav li{ float:inherit; display:inline-block; margin:0px 15px;}
.header-section .nav li a{ padding:0px; text-transform:uppercase; letter-spacing:1px;color:#333; }
.header-section .nav li a:hover{ background:transparent; }
.login-form{ margin-top:12px;}
.panel-body .table{ margin-bottom:0px;}
.container-fluid {
    padding-right: 10px;
    padding-left:10px;
  
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{ padding-right: 10px;
    padding-left: 10px;}
.row{ margin-left:-10px; margin-right:-10px;}
.btn-group-sm>.btn, .btn-sm {
    
    padding: 5px;
    line-height: 8px;
}
/*================search section==================*/
.search-section{background: #f1f1f1;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd; height:50px; padding-top:7px;}
	.search-box{
	position:relative;	
   
}

.search-input input{
    border: 0;
    box-shadow: none;
	 padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 0px;
    background-color: #fff;
	height:34px;
}

.search-box button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

.search-box button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

.search-box .input-group-btn{
   position: absolute;
    right: 29px;
    top: 0px;
   
	z-index:1000;
}
.search-box .input-group-btn i{
    color:#ddd;
	 font-size: 15px;
	 line-height:30px;
}
/*===============left-menu=================*/
div.treeview {
    
    overflow:auto;
	
	padding: 4px;
	
	margin-bottom: 20px;
	
	color: #369;
	
}

.treeview, .treeview ul {
    margin:0;
    padding:0;
    list-style:none;
    
	color: #369;
}
.treeview ul {
    margin-left:1em;
    position:relative
}
.treeview ul ul {
    margin-left:.5em
}

.treeview li {
    margin:0;
    position:relative
}

.tree-indicator {
    margin-right:5px;
    display:none;
    cursor:pointer;
}
.treeview li a {
    text-decoration: none;
    color:inherit;
    
    cursor:pointer;
}
.treeview li button, .treeview li button:active, .treeview li button:focus {
    text-decoration: none;
    color:inherit;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}
/* ---------------------------------------------------------------------- */
/* Tabs
/* ---------------------------------------------------------------------- */
.nav-tabs {
  margin-bottom: 0;
  padding: 0;
}
.nav-tabs.nav-justified > li > a {
  border-left: none !important;
  border-radius: 0;
  border-top: none !important;
  border-right: none !important;
}
.nav-tabs > li {
  margin-bottom: -3px;
  text-align: center;
}
.nav-tabs > li.dropdown.active a {
  cursor: pointer;
}
.nav-tabs > li.dropdown .dropdown-menu > .active a, .nav-tabs > li.dropdown .dropdown-menu > .active a:hover, .nav-tabs > li.dropdown .dropdown-menu > .active a:focus {
  background-color: #f7f7f8;
  color: #ffffff;
}
.nav-tabs > li > a {
  border: 0 none;
  border-radius: 0;
  color: #8E9AA2;
  min-width: 70px;
  padding:8px 20px;
}
.nav-tabs > li.active a, .nav-tabs > li.active a:hover, .nav-tabs > li.active a:focus {
  border-width: 0;
}
.nav-tabs > .active a, .nav-tabs > .active a:hover, .nav-tabs > .active a:focus {
  border: 0 none;
  -moz-box-shadow: 1px 1px 2px rgba(44, 47, 59, 0.1);
  -webkit-box-shadow: 1px 1px 2px rgba(44, 47, 59, 0.1);
  box-shadow: 1px 1px 2px rgba(44, 47, 59, 0.1);
  color: #505458;
}

.panel-tabs, .tabbable {
  background-color: #E6E8E8;
  margin-left:-15px;
  margin-right:-15px;
   margin-top:-15px;
  margin-bottom:0px;
  border:0px;
}

.tabbable.pills {
  background: none;
}
.tabbable.pills > .nav {
  margin-bottom: 10px;
}

.panel-tabs {
  padding: 0;
}
.panel-tabs .panel-heading {
  background: #EFEFF4;
}
.panel-tabs .panel-body {
  padding: 0;
}
.panel-tabs .tabbable {
  margin: 0;
  padding: 0;
}
.panel-tabs .nav-tabs {
  border: medium none;
  float: right;
  margin-top: -48px;
}
.panel-tabs .nav-tabs > li > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.tab-content {
  background-color: #FFFFFF;
  position: relative;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: none;
  padding: 15px;
}

.tab-content > .active, .pill-content > .active{
  display: block;
}

.left-sidebar{
	
}
.left-sidebar ul{
	
}
.left-sidebar ul li{
	 border-bottom: 1px solid #ddd;}
.left-sidebar ul li:last-child{
	 border-bottom:0px solid #ddd;}	 

.left-sidebar ul li a{ 
	display:block; 
	color:#333;  
	font-size:13px; 
	padding:7px 0px;
}
.left-sidebar ul li a:hover{ 
	background:#f9f9f9;
	padding-left:10px;
}	


/*===================END CODE FOR HEADER SECTION HARE========================*/
