
 body {
	  font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
  h3, h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;      
      font-size: 20px;
      color: #111;
  }
  .container {
      padding:0px 15px;
  }
  .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  .carousel-inner img {
     
      width: 100%;       margin: auto;
  }
  .carousel-caption h3 {
      color: #fff !important;
	      font-size: 58px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 700;
  }
   .carousel-caption p {
      color: #fff !important;
	      font-size: 17px;
    letter-spacing: 0px;
  
    font-weight: 400;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
	  border:0px;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  .nav-tabs li a {
      color: #777;
  }
  #googleMap {
      width: 100%;
      height: 400px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
  }  
  .navbar {
	
      margin-bottom: 0;
      background-color: #fff;
	  border-bottom:1px solid #ddd;
      border: 0;
   
    
    
  }
  .carousel-caption{ bottom:40%;}
  .navbar li a, .navbar .navbar-brand { 
      
	      color: #555!important;
    font-size: 14px;
    letter-spacing: 0px;
	text-transform:uppercase;
	
  }
 .navbar li a{ 
      
	
	border-left:1px solid #ddd;
  } 
  .navbar li:last-child a{ 
      
	
	border-right:1px solid #ddd;
  } 
  .navbar-nav li a:hover {
      color: #000 !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 20px;
  }
  
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }.header-section{ background:#fff;}
 .header-section .navbar{ border-bottom:1px solid #ddd;}
 .about-section{ padding:60px 0px;} 
.about-section h3 {
      
	      font-size: 30px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 300;
  }
 .about-section p {
    
	      font-size: 13px;
    letter-spacing: 0px;
  
    font-weight:200;
  }.traveladeas-box{ position:relative; cursor:pointer; width:100%; overflow:hidden; margin-bottom:20px;} 
 .traveladeas-box:hover .traveladeas-overlay{ background:rgba(39,163,227,0.43);}
 .traveladeas-box h3{ font-size:25px; font-weight:bold; color:#fff;} 
 .traveladeas-overlay{ position:absolute; top:0; left:0; height:100%; width:100%;   -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;}
 .box-table{ display:table; text-align:center;height: 100%;
    width: 100%;}
 .table-cell{ display:table-cell;  vertical-align:middle;}
 .ourvillas{ margin-bottom:50px;}
 footer{ text-align:center; color:#fff; font-size:12px; margin-top:40px;}
 #contact h3{ margin-top:40px;}
 #contact span.glyphicon{ margin-right:10px; font-size:18px;}
 .pgwSlideshow{width:100%;display:none}.pgwSlideshow a{color:#fff}.pgwSlideshow .ps-current{text-align:center;position:relative;height:600px!important;overflow:hidden}.pgwSlideshow .ps-current>ul>li{text-align:center;width:100%;z-index:1;opacity:0;display:block}.pgwSlideshow .ps-current>ul>li img{display:block;max-width:100%; max-height:100%;margin:auto}.pgwSlideshow .ps-caption span{padding:7px;display:inline-block}.pgwSlideshow .ps-list{overflow:hidden;position:relative}.pgwSlideshow .ps-list ul{position:relative;list-style:none;margin:0;padding:0;left:0}.pgwSlideshow .ps-list li{float:left}.pgwSlideshow .ps-list li .ps-item{display:block;margin:15px 8px;  border:1px solid #cccccc; padding:4px;}.pgwSlideshow .ps-list li img{display:block;border:1px solid #777;width:80px;height:80px}.pgwSlideshow .ps-list li .ps-item.ps-selected{float:left;opacity:1;overflow:hidden; border:1PX solid #ff7d23;}.pgwSlideshow .ps-prevIcon{border-color:transparent #fff transparent;border-style:solid;border-width:7px 7px 7px 0;display:block}.pgwSlideshow .ps-nextIcon{border-color:transparent #fff transparent;border-style:solid;border-width:7px 0 7px 7px;display:block}.pgwSlideshow .ps-current .ps-prev{background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";position:absolute;padding:10px ;left:0;top:45%;cursor:pointer}.pgwSlideshow .ps-current .ps-next{background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";position:absolute;padding:10px;right:0;top:45%;cursor:pointer}.pgwSlideshow .ps-list .ps-prev{background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#bb000000',endColorstr='#bb000000');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#bb000000', endColorstr='#bb000000')";padding:10px;cursor:pointer;position:absolute;left:0;top:40px;z-index:1000;display:none}.pgwSlideshow .ps-list .ps-next{background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#bb000000',endColorstr='#bb000000');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#bb000000', endColorstr='#bb000000')";padding:10px;cursor:pointer;position:absolute;right:0;top:40px;z-index:1000;display:none}.pgwSlideshow.narrow .ps-list li img{width:60px;height:60px}.pgwSlideshow.narrow .ps-current .ps-prev{padding:15px 15px 15px 12px;top:40%}.pgwSlideshow.narrow .ps-current .ps-next{padding:15px 12px 15px 15px;top:40%}.pgwSlideshow.narrow .ps-list .ps-prev{padding:15px 12px 15px 10px;top:20px}.pgwSlideshow.narrow .ps-list .ps-next{padding:15px 10px 15px 12px;top:20px}.pgwSlideshow.narrow .ps-caption{font-size:.8rem;padding:8px}
.pgwSlideshowLight{width:100%;background:#ddd;display:none}.pgwSlideshowLight a{color:#fff}.pgwSlideshowLight .ps-current{text-align:center;position:relative;min-height:150px;overflow:hidden}.pgwSlideshowLight .ps-current>ul>li{text-align:center;width:100%;z-index:1;opacity:0;display:block}.pgwSlideshowLight .ps-current>ul>li img{display:block;max-width:100%;margin:auto}.pgwSlideshowLight .ps-caption{background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";text-align:left;font-size:1rem;color:#fff;position:absolute;left:0;bottom:0;width:100%;padding:10px;display:none}.pgwSlideshowLight .ps-caption span{padding:7px;display:inline-block}.pgwSlideshowLight .ps-list{border-top:1px solid #aaa;box-shadow:0 10px 10px -5px #999 inset;background:#ddd;overflow:hidden;position:relative}.pgwSlideshowLight .ps-list ul{position:relative;list-style:none;margin:0;padding:0;left:0}.pgwSlideshowLight .ps-list li{float:left}.pgwSlideshowLight .ps-list li .ps-item{display:block;margin:15px 8px;opacity:.6;filter:alpha(opacity=60)}.pgwSlideshowLight .ps-list li img{display:block;border:1px solid #aaa;width:80px;height:80px}.pgwSlideshowLight .ps-list li .ps-item.ps-selected{float:left;opacity:1;border:4px solid #fff;overflow:hidden}.pgwSlideshowLight .ps-list li .ps-item.ps-selected img{margin:-4px}.pgwSlideshowLight .ps-prevIcon{border-color:transparent #fff transparent;border-style:solid;border-width:10px 10px 10px 0;display:block}.pgwSlideshowLight .ps-nextIcon{border-color:transparent #fff transparent;border-style:solid;border-width:10px 0 10px 10px;display:block}.pgwSlideshowLight .ps-current .ps-prev{background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";border:1px solid #777;border-left:0;border-radius:0 4px 4px 0;position:absolute;padding:20px 20px 20px 15px;left:0;top:45%;cursor:pointer}.pgwSlideshowLight .ps-current .ps-next{background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";border:1px solid #777;border-right:0;border-radius:4px 0 0 4px;position:absolute;padding:20px 15px 20px 20px;right:0;top:45%;cursor:pointer}.pgwSlideshowLight .ps-list .ps-prev{background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#bb000000',endColorstr='#bb000000');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#bb000000', endColorstr='#bb000000')";border:1px solid #777;border-left:0;border-radius:0 4px 4px 0;padding:20px 15px 20px 12px;cursor:pointer;position:absolute;left:0;top:25px;z-index:1000;display:none}.pgwSlideshowLight .ps-list .ps-next{background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#bb000000',endColorstr='#bb000000');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#bb000000', endColorstr='#bb000000')";border:1px solid #777;border-right:0;border-radius:4px 0 0 4px;padding:20px 12px 20px 15px;cursor:pointer;position:absolute;right:0;top:25px;z-index:1000;display:none}.pgwSlideshowLight.narrow .ps-list li img{width:60px;height:60px}.pgwSlideshowLight.narrow .ps-current .ps-prev{padding:15px 15px 15px 12px;top:40%}.pgwSlideshowLight.narrow .ps-current .ps-next{padding:15px 12px 15px 15px;top:40%}.pgwSlideshowLight.narrow .ps-list .ps-prev{padding:15px 12px 15px 10px;top:20px}.pgwSlideshowLight.narrow .ps-list .ps-next{padding:15px 10px 15px 12px;top:20px}.pgwSlideshowLight.narrow .ps-caption{font-size:.8rem;padding:8px}
.ps_current2{ display:none;}
.proroety_details_search_row{ position:relative; z-index:1;}
.proroety_details_hd{ margin-top:-20px;}
.property_details_tam{ background-color:#ddd; border:0px;}
.property_details_tam a{ color:#555; margin-right:0px!important;}
.property_details_tam>li.active>a{ color:#000!important;}
.white_bg2 h2{font-size:20px;color:#333;margin-top:0px;letter-spacing: 4px;}
.white_bg2 h3{font-size:18px;color:#434343;font-weight:500;margin-top:0px; margin-bottom:10px;letter-spacing:2px;}
.white_bg2_ul li{width:33%; float:left; margin-top:15px; position:relative; font-size:12px; padding-left:15px;}
.white_bg2_ul li:before{content: "\2713";position: absolute;font-size: 12px;text-align: center;width: 13px;color: #ec5e38;top:0px; left:-1px;}  
.vide_info{margin-bottom: 15px;padding: 15px ; border:1px solid #cccccc;}
.white_bg2 table td span{ display:block; color:#a0a0a0;}
.comments {width: 100%;margin-bottom:15px;}
.comments h3 {float: left;width: 100%;background: #f6f6f6;color: #333;padding: 6px 24px 6px 24px;font-size: 22px;margin-bottom: 0px;}
.comment {padding: 32px 32px 22px 32px;float: left;width: 100%;border: 1px solid #dad6d1;border-top: 0px;}
.comment .avatar {float: left;width: 14%;margin-right: 4%;}
.comment .avatar img {float: left;width: 100%;}
.comment .text {float: left;width: 82%;}
.comment .name {float: left;color: #3b3b3b;font-size: 18px;}
.comment .date {float: right;font-size: 13px;padding-top: 4px;color: #3b3b3b;}
.comment p {float: left;width: 100%;margin-top: 10px;color: #999999;text-align: justify;}
.owner_profile img{ margin-bottom:15px;}
#property_view{ margin-top:80px; margin-left:15px; margin-right:-15px;}
.white_bg{ background-color:#FFFFFF; border:1px solid #cccccc;}
.white_bg1{ padding:15px; min-height:300px;}
.white_bg2{ margin-top:0px!important;}
ul{ margin:0px; padding:0; list-style:none;}
.wedding-section{ margin-top:80px;}
.wedding-section .form-group{ margin-bottom:30px;}